<div id ="header">
	<div class="row">
		<div class="header">
			<div class="nav-header">
				<a href="./testHtml.do" class="brand">后台管理系统</a>
			</div>
	
			<!-- 导航 -->
			<div class="pull-right right-brand">
				<div class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img
							src="./image/user.png">&nbsp;<span>董锦龙</span>&nbsp;<span class="caret"></span>
					</a>	
					<ul class="dropdown-menu">
						<li><a href="#system1">个人信息</li>
						<li><a href="#system2">系统配置</li>
						<li class="divider" role="sparator"></li>
						<li><a href="#">退出</li>
					</ul>	
				</div>
				
			</div>
		</div>	
	</div>	
		<div class="row">	
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 left headertow">
					<div class="imgcontent">
						<img src="./image/xing.png" class="img pull-left xing"><div class="text-primary pull-left">主题分类</div>
					</div>		
			</div>	
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 headertow">	
				<div class="imgcontent">
					<a href="./indexTest" ><img src="./image/content.png" class="img pull-left xing2"><div class="text-primary pull-left">主页面</div></a>
				</div>	
		</div>		
	</div>	
</div>